# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.env

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables
.env

# Local FAISS index
faiss_index/

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Docker files
*.dockerfile
Dockerfile

# Python egg info
*.egg-info/
dist/
build/
.eggs/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/
